*{
    margin: 0;
    padding: 0;
  }

.agrupar{
    margin:auto;
}

body {
  background-color:black;
}

@font-face {
    font-family: "Txarango";
    src: url(../font/txarango.otf) format("truetype");
}

header {
  background-color: black;
  width: 100%;
  color: rgb(236, 58, 58);
  width: 100%;
  height: 100px;
  font-family: Oswald;
  text-transform: uppercase;
}

header h1 {
  margin-top: -10px;
  padding-top: 40px;
  font-family: 'Txarango';
}

#logo{
  background: url(../images/txarango_before.png);
  position: absolute;
  top:10px;
  right: 880px;
  z-index: 2;
  width:100px ;
  height:100px;
}

.navbar{
  font-family: 'Oswald';
  background-color: rgba(0, 0, 0);
  border-color: transparent;
  border: none;
}

.navbar .barra{
  position: absolute;
  background: url(../images/header_bg.png) bottom ;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.affix {
    top:0;
    width: 100%;
    z-index: 3 !important;
}

.affix ~ .container-fluid {
   position: relative;
   top: 50px;
}

/*Reloj*/
#clockdiv{
  font-family: 'Oswald';
	color: #fff;
	display: inline-block;
	font-weight: 50;
	text-align: center;
	font-size: 14px;
  position: absolute;
  top:0;
  right:0;
  padding-top: 15px;
}
#clockdiv h6{
  float:left;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: black;
	display: inline-block;
}

#clockdiv div > span{
	padding: 10px;
	border-radius: 3px;
	background: rgb(236, 58, 58);
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 10px;
}

/*Galeria*/
.container {
    padding: 80px 120px;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}

.person:hover {
    border-color: #f1f1f1;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    width: 100%;
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

#section2{
  background-color: rgb(251, 246, 230);
  text-align: center;
  width: 100%;
}

#section2 #presentacion{
  padding-top: 100px;
  width: 50%;
  margin:auto;
  padding-bottom: 100px;
}

#section2 #presentacion h1{
  font-family: 'Txarango';
  font-size: 100px;
  text-transform: uppercase;
  color: rgb(236, 58, 58);
}

#section2 #presentacion p {
  font-family: 'Oswald';
  font-size: 19px;
  text-align: center;
}

#section3{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(251, 246, 230);
  margin:0;
  width: 100%;
  text-align: center;
}
#section3 .row {
    padding: 80px 300px; /* CAMBIAR TODO ESTO EN MEDIA QUERY*/
}

#section3 .col-sm-4 h3{
  text-align: left;
  color: red;
  font-family: 'Oswald';
  margin-left: 35px;
}

#section3 .col-sm-4 h4{
  padding-top: 10px;
  text-align: left;
  font-family: 'Oswald';
  margin-left: 35px;
  font-weight: bold;
}

#section3 .col-sm-4 p{
  text-align: left;
  margin-left: 35px;
}

.button {
    background-color: rgba(255, 255, 255,0);
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: rgba(255, 255, 255,0);
    border: 2px solid rgb(236, 58, 58);
}

.button1:hover {
    background-color: rgb(236, 58, 58);
    color: white;
}

/* FOOTER */
#footer {
	background-color: black;
  color:rgb(41, 41, 41);
  width: 100%;
  float:right;
  font-family: 'Oswald';
}
#footer .barrabaja{
  position: absolute;
  background: url(../images/barra_inferior.png) top;
  width: 100%;
  height: 50px;
  z-index: 1;
}

#footer .footer-copyright{
	background-color: rgb(17, 16, 16);
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#footer .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#footer ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#footer h5{
	font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#footer a{
	color:#d2d1d1;
	text-decoration: none;
}

#footer a:hover, #footer a:focus{
	text-decoration: none;
	color:white;
}

#footer .myCols{
	text-align: center;
}

#footer .social-networks{
	text-align: center;
  margin-top: 50px;
	padding-bottom: 38px;
}

#footer .social-networks h5 {
  font-family: 'Txarango';
  font-size: 60px;
  text-transform: uppercase;
  color: rgb(236, 58, 58);
  padding-bottom: 10px;
}

#footer .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#footer .social-networks a:hover{
	text-decoration: none;

}

#footer .facebook:hover{
	color:#0077e2;
}

#footer .google:hover{
	color:#ef1a1a;
}

#footer .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#footer {
		text-align: center;
	}
}

#footer .container{
  padding-top: 10px;
}
.separador-blanco {
  text-align: center;
  background-image: url("../images/separador-blanco.png") ;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}
